<div class="tarjeta">
    <h1 class="animated fadeIn"> {{producto.nombre | uppercase}} <small>{{producto.marca}}</small></h1>
    <hr>

    <div class="row animated fadeIn fast">
        <div class="col-md-4">
            <div>
                <img [src]="producto.img" class="img-fluid" [alt]="producto.nombre">
                <br><br>
                <a [routerLink]="['/tienda']" class="btn btn-outline-danger btn-block" id="boton-regresar"> Regresar</a>
            </div>
            <div class="col-md-8">
                <p> CODIGO: {{producto.codigo}}</p>
                <hr>
                <p> DESCRIPCION: {{producto.descripcion}}</p>
                <hr>
                <p> MARCA: {{producto.marca}}</p>
                <hr>
                <p>
                    COLOR: {{producto.color}}
                </p>
                <hr>
                <p>
                    PRECIO: {{producto.precio}}
                </p>
                <hr>
                <p>
                    TALLES: {{producto.talles}}
                </p>
                <a [routerLink]="['/tienda']" class="btn btn-outline-primary btn-block" id="boton-comprar" [routerLink]="['/grillaProductos']"> Comprar</a>
                <hr>
                <button class="btn btn-outline-secondary btn-block" id="carrito"> Agregar al Carrito</button>



            </div>
        </div>
    </div>
</div>