h2 {
    margin-bottom: 5%;
    padding-top: 5%;
}

form {
    width: 100%;
    padding-left: 5%;
}

#boton-registrar {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 35%;
    margin-left: 67%;
    font-size: 20px;
}

p {
    text-align: center;
    font-style: oblique;
}

.col-form-label {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    width: 35%;
    font-size: 20px;
    font-style: italic;
}

.form-control {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 18px;
}

.col-8 {
    width: 50%;
}