<div class="contenedora">
    <div class=titulo>
        <h1>{{titulo}}</h1>
    </div>
    <div class="linea"></div>
    <div class="row row-cols-2 row-cols-md-3 g-4 h-100">
        <form class="formulario" autocomplete="off" [formGroup]="formRegistro">
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label"> Nombre </label>
                    <div class="col-8">
                        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [(ngModel)]="usuario.nombre" [class.is-invalid]="nombreNoValido" />
                        <small *ngIf="nombreNoValido" class="text-danger">
            El Nombre es requerido
          </small>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label"> Apellido </label>
                    <div class="col-8">
                        <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [(ngModel)]="usuario.apellido" [class.is-invalid]="apellidoNoValido" />
                        <small *ngIf="apellidoNoValido" class="text-danger">
          El Apellido es requerido
          </small
        >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label"> Correo Electronico </label>
      <div class="col-8">
        <input
          class="form-control"
          type="email"
          placeholder="Correo Electronico"
          formControlName="email"
          [(ngModel)]="usuario.email"
          [class.is-invalid]="correoNoValido"
        />
        <div *ngIf="correoNoValido">
          <small class="text-danger" *ngIf="f['email'].errors && f['email'].errors['required']">El Email es requerido</small>
                        <small class="text-danger" *ngIf="f['email'].errors && f['email'].errors['email']">El Email no es valido</small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label"> Direccion </label>
                <div class="col-8">
                    <input class="form-control" type="text" placeholder="Direccion" formControlName="direccion" [(ngModel)]="usuario.direccion" [class.is-invalid]="direccionNoValido" />
                    <small *ngIf="direccionNoValido" class="text-danger">
          La Direccion es requerida
          </small>
                </div>
            </div>


            <div class="form-group row">
                <label for="pais" class="col-2 col-form-label">Pais</label>
                <div class="col-8">
                    <select [compareWith]="compararPais" class="form-control" name="pais" formControlName="pais" [(ngModel)]="usuario.pais" (change)="obtenerProvincias()" [class.is-invalid]="paisNoValido">
          <option [ngValue]="undefined">--- Seleccionar Pais ---</option>
          <option *ngFor="let pais of paises" [ngValue]="pais">
            {{ pais.descripcion }}
          </option>
        </select>
                    <small *ngIf="paisNoValido" class="text-danger">
          Debe seleccionar un Pais valido</small
        >
      </div>
    </div>

    <div class="form-group row">
      <label for="provincia" class="col-2 col-form-label">Provincia</label>
      <div class="col-8">
        <select
          [compareWith]="compararProvincia"
          class="form-control"
          name="provincia"
          formControlName="provincia"
          (change)="obtenerLocalidades()"
          [(ngModel)]="usuario.provincia"
          [class.is-invalid]="provinciaNoValido"
        >
          <option [ngValue]="undefined">--- Seleccionar Provincia ---</option>
          <option *ngFor="let provincia of provincias" [ngValue]="provincia">
            {{ provincia.descripcion }}
          </option>
        </select>
        <div>
          <div *ngIf="">

          </div>
        </div>
        <small *ngIf="provinciaNoValido" class="text-danger">
          Debe seleccionar una Provincia valida</small
        >
      </div>
    </div>

    <div class="form-group row">
      <label for="localidad" class="col-2 col-form-label">Localidad</label>
      <div class="col-8">
        <select
          [compareWith]="compararLocalidad"
          class="form-control"
          name="localidad"
          formControlName="localidad"
          [(ngModel)]="usuario.localidad"
          [class.is-invalid]="localidadNoValido"
        >
          <option [ngValue]="undefined">--- Seleccionar Localidad ---</option>
          <option *ngFor="let localidad of localidades" [ngValue]="localidad">
            {{ localidad.descripcion }}
          </option>
        </select>
        <small *ngIf="provinciaNoValido" class="text-danger">
          Debe seleccionar una Localidad valida</small
        >
      </div>
    </div>
 
    <div class="form-group row">
      <label class="col-2 col-form-label"> DNI </label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="DNI"
          formControlName="dni"
          [(ngModel)]="usuario.dni"
          [class.is-invalid]="dniNoValido"
        />
        <small *ngIf="dniNoValido" class="text-danger">
          El DNI es requerido</small
        >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label"> Ingrese el Password </label>
      <div class="col-8">
        <input
          class="form-control"
          type="password"
          placeholder="Ingrese Contraseña"
          formControlName="password"
          [(ngModel)]="usuario.password"
          [class.is-invalid]="pass1NoValido"
        />
        <small *ngIf="pass1NoValido" class="text-danger">
          Password es requerido
        </small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label"> Repita Password </label>
                <div class="col-8">
                    <input class="form-control" type="password" placeholder="Repita Contraseña" formControlName="password2" [class.is-invalid]="pass2NoValido" />
                    <small *ngIf="pass1NoValido" class="text-danger">
          Password es requerido
        </small>
                    <small class="text-danger" *ngIf="f['password2'].errors && f['password2'].errors['compararPasswords']">Los password deben coincidir</small>
                </div>
            </div>
            <div class="form-group row">
                <div class="input-group col-8">
                    <button role="button" class="btn btn-outline-primary btn-block" id="boton-registrar" (click)="guardar()" X *ngIf="!usuario.idUsuario else elseBlock">
          Registrar
        </button>
                    <ng-template #elseBlock>
                        <button role="button" class="btn btn-outline-primary btn-block" id="boton-registrar" (click)="update()">
          Editar</button>
                    </ng-template>
                </div>
            </div>
    </div>
    </form>
</div>
</div>