  /* ::: principios ::: */
  #principles h2 {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -.05em;
    text-align: center;
    margin: 0 0 16px;
  }

  #principles span {
    color: #18999b;
    display: block;
    line-height: 1.29;
    padding:  0 12px;
    position: relative;
  }

  #principles span::before {
    background: linear-gradient(90deg, var(--start-color), var(--end-color));
    content: var(--content);
    position: absolute;
    inset: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated 9s infinite;
    animation-delay: var(--delay);
  }

  @keyframes animated {
    0%, 16.667%, 100% {


      opacity: 1;
    }

    33.333%, 83.333% {
      opacity: 0
    }
  }

  /* when screen's smaller than 512px */
  @media (max-width: 512px) {
    #principles span {
      font-size: 4rem;
    }
  }

  /* when screen's smaller than 840px */
  @media (max-width: 840px) {
    #principles h1 {
      font-size: 6rem;
    }
  }

    .span1{
      --content: "Disciplina."; --start-color:#007CF0; --end-color: #00DFD8; --delay: 0s;
    }
    .span2{
      --content: "Constancia."; --start-color:#7928CA; --end-color: #FF0080; --delay: 3.33s;
    }
    .span3{
      --content: "Resultado."; --start-color:#FF4D4D; --end-color: #F9CB28; --delay: 6.66s;
    }
    .span4{
      --content: "Registro."; --start-color: #007CF0; --end-color: #007CF0;
    }

.contenedora {
    padding: 1%;
    margin-left: 10%;
    padding-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formulario {
    margin-top: 1%;
    padding-bottom: 3%;
    box-shadow: 5px 5px 5px 5px rgb(182, 182, 182);
    padding-top: 3%;
    width: 80%;
    height: 60%;
    margin-left: 0%;
    border-radius: 10px;
}

h1 {
    margin-left: 20%;
    color: rgb(24, 153, 155);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.linea {
    border-top: 2px solid rgb(24, 153, 155);
    max-width: 80%;
    padding-top: 5%;
    padding-bottom: 1%;
}

.form-group {
    margin-top: 2%;
    margin-bottom: 2%;
}

label {
    margin-left: 30%;
    margin-bottom: 3%;
    font-size: 18px;
    font-weight: 500;
}

#boton-registrar {
    margin-top: 3%;
    margin-bottom: 0%;
    width: 100%;
    padding-left: 5%;
    margin-left: 85%;
}

p {
    text-align: center;
    font-style: oblique;
}

.col-form-label {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
    width: 35%;
    font-size: 18px;
}

.form-control {
    margin-bottom: 2%;
    margin-left: 10%;
    width: 100%;
}

.col-8 {
    width: 50%;
}

small {
    color: rgb(24, 153, 155);
    width: 100%;
}
