<div class="container">
    <h2>Lista de pedidos</h2>

    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <th>Guantes box</th>
            <td>
                <button type="button" class="btn btn-outline-primary">-</button>
                2
                <button type="button" class="btn btn-outline-primary">+</button>
            </td>
            <td>2500</td>
            <td>5000</td>
            <td>
                <button type="button" class="btn btn-outline-primary">Eliminar</button>
            </td>
          </tr>
          <tr>
            <th>Pesas 1kg</th>
            <td>
                <button type="button" class="btn btn-outline-primary">-</button>
                1
                <button type="button" class="btn btn-outline-primary">+</button>
            </td>
            <td>3000</td>
            <td>3000</td>
            <td>
                <button type="button" class="btn btn-outline-primary">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="total">
        <p><strong>Total: </strong>$8000</p>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
</div>