<div class="container">
    <h2>Lista de pedidos</h2>

    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of comprobanteDetalles">
            <th>{{item.producto.descripcion}}</th>
            <td>
                <button type="button" class="btn btn-outline-primary">-</button>
                {{item.cantidad}}
                <button type="button" class="btn btn-outline-primary">+</button>
            </td>
            <td>{{item.precioUnitario}}</td>
            <td>{{item.precioUnitario * item.cantidad}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="total" >
        <p><strong>Total: $ {{calcularTotal()}}</strong> </p>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
</div>