<div class="grilla" id="principles">
    <div>
        <br>
        <h2>
            <span class="span4">Tienda.</span>
        </h2>
    </div>
    <hr>
    <div class="row row-cols-2 row-cols-md-3 g-4 h-100">
        <div class="card animated fadeIn fast " *ngFor="let producto of productos" id="encuadrado">
            <br>
            <br>

            <img *ngIf="producto?.imagen" src="http://localhost:8080/api/productos/uploads/img/{{producto.imagen}}" alt="{{producto.imagen}}" class="card-img-top im-gfluid"><!--(click)="abrirModal(producto)"-->
            <img *ngIf="!producto?.imagen && producto?.servicio" src="http://localhost:8080/images/no-servicio.jpeg/" alt="Sin foto" class="card-img-top im-fluid"  ><!--(click)="abrirModal(producto)"-->
            <img *ngIf="!producto?.imagen && !producto?.servicio" src="http://localhost:8080/images/no-producto.jpeg/" alt="Sin foto" class="card-img-top im-fluid" ><!--(click)="abrirModal(producto)"-->





            <div class="card-block">
                <h4 class="card-title" id="titulo">{{producto.descripcion | uppercase}}</h4>
                <h4 class="card-title">Marca: {{producto.marca.nombre}}</h4>
                <p class="card-text">{{ producto.precioUnitario | currency: '$'}}</p>
                <!--<button type="button" class="btn btn-outline-primary btn block"> Ver mas...</button>-->
                <a class="btn btn-outline-primary" id="boton-comprar"> Ver Info... </a>
                
                <a [routerLink]="['/carrito/'+ producto.idProducto]" class="btn btn-outline-primary btn-block" id="boton-comprar"> Comprar </a>
                
            </div>
        </div>
    </div>
    <paginator-nav *ngIf="paginador" [paginador]="paginador" paginaAPaginar="tienda"></paginator-nav>
</div>