<div class="dash d-flex">
  <div class="bg-primary">
      <div class="logo">
          <h4 class="text-ligth"> Gimena Binaghi </h4>
          <div class="linea"></div>
      </div>
      <div class="menu">
          <a class="d-block p-3 text-ligth" [routerLink]="['/grillaAdmin']"> Productos </a>
          <a class="d-block p-3 text-ligth" [routerLink]="['/grillaAdmin']"> Usuarios</a>
          <a class="d-block p-3 text-ligth" [routerLink]="['/principal']"> Salir </a>
      </div>
  </div>
  
      <div class="content">
          <h1 class="font-weigth-bold"> Bienvenido al dashboard de Administrador </h1>
          <div class="linea2"></div>       
          
      </div>
</div>