.dashAdmin{
    opacity: calc(97%);
}


  #menu a{
    text-decoration: none;
  }

  a{
    text-decoration: none;
    text-align: center;
    color: rgb(24, 153, 155);
    font-size: 20px;
    padding-bottom: 1%;
  }

  a:hover{
    text-decoration: none;
    text-align: center;
    color: #007CF0;
    font-size: 23px;
    padding-bottom: 1%;
  }

  #menu h2 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -.05em;
    text-align: center;
    margin: 0 0 16px;
  }
  
#menu{
  position:fixed;
  top: 150px;
  width: 230px;
  /*box-shadow: 5px 5px 5px 5px rgb(182, 182, 182);*/
}

#menu span {
  color: #18999b;
  display: block;
  line-height: 1.29;
  padding:  0 12px;
  position: relative;
  }

  #menu span::before {
    background: linear-gradient(90deg, var(--start-color), var(--end-color));
    content: var(--content);
    position: absolute;
    inset: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated 9s infinite;
    animation-delay: var(--delay);
  }

  @keyframes animated {
    0%, 16.667%, 100% {
  
  
      opacity: 1;
    }
  
    33.333%, 83.333% {
      opacity: 0
    }
  }

  /* when screen's smaller than 512px */
@media (max-width: 512px) {
  #menu span {
    font-size: 4rem;
  }
}

/* when screen's smaller than 840px */
@media (max-width: 840px) {
  #menu h1 {
    font-size: 6rem;
  }
}

h1 {
  color: rgb(24, 153, 155);
      text-align-last: center;
      font-size: 5vh;
      margin-left: 5%;
      padding-top: 1%;
      padding-bottom: 1%;
}

.row {
  height: 100%;
  width: 100%;
  padding-left: 5%;
  margin-bottom: 50px;
}