<div class="" id="principles">
    <div>
        <h2>
            <span class="span6">Menú.</span>
          </h2>
    </div>
  <hr>
     <div>
      <a class="nav-link" routerLink="/marcas">Gestión de Marcas</a>
      <a class="nav-link" routerLink="/disciplinas">Gestión de Disciplinas</a>
      <a class="nav-link" routerLink="/rubros">Gestión de Rubros</a>
      <a class="nav-link" routerLink="/productos">Gestión de Productos</a>
      <a class="nav-link" routerLink="/usuarios">Gestión de Usuarios</a>
      <a class="nav-link" routerLink="/comprobantes">Comprobantes</a>
  </div>
  