
<div class="grilla" id="principles">
    <div>
      <br><br>
        <h2>
            <span class="span4">Carrito de Compras.</span>
          </h2>
    </div>
    <hr>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of comprobanteDetalles">
                <td>{{item.producto.descripcion}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.precioUnitario | currency: '$' }}</td>
                <td>{{item.cantidad * item.precioUnitario | currency: '$'}}</td>
            </tr>
        </tbody>
      </table>

      <div class="total" >
        <p><strong>Total: {{calcularTotal() | currency: '$'}}</strong> </p>
        <button type="button" class="btn btn-outline-primary" (click)="finalizarCompra()">Comprar</button>
      </div>
</div>