/* ::: principios ::: */
#principles h2 {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -.05em;
  text-align: center;
  margin: 0 0 16px;
}

#principles span {
  color: #18999b;
  display: block;
  line-height: 1.29;
  padding:  0 12px;
  position: relative;
}

#principles span::before {
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  content: var(--content);
  position: absolute;
  inset: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated 9s infinite;
  animation-delay: var(--delay);
}

@keyframes animated {
  0%, 16.667%, 100% {


    opacity: 1;
  }

  33.333%, 83.333% {
    opacity: 0
  }
}


/* when screen's smaller than 512px */
@media (max-width: 512px) {
  #principles span {
    font-size: 4rem;
  }
}

/* when screen's smaller than 840px */
@media (max-width: 840px) {
  #principles h1 {
    font-size: 6rem;
  }
}

  .span1{
    --content: "TIENDA FITNESS CLUB"; --start-color:#007CF0; --end-color: #00DFD8; --delay: 0s;
  }
  .span2{
    --content: "Constancia."; --start-color:#7928CA; --end-color: #FF0080; --delay: 3.33s;
  }
  .span3{
    --content: "Resultado."; --start-color:#FF4D4D; --end-color: #F9CB28; --delay: 6.66s;
  }
  .span4{
    --content: "Login"; --start-color: #007CF0; --end-color: #007CF0;
  }

.contenedora {
    padding: 1%;
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formulario {
    margin-top: 1%;
    padding-bottom: 1%;
    box-shadow: 5px 5px 5px 5px rgb(182, 182, 182);
    padding: 1%;
    width: 60%;
    height: 60%;
    margin-left: 18%;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-right: 5%;
    color: rgb(24, 153, 155);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.linea {
    border-top: 2px solid rgb(24, 153, 155);
    max-width: 60%;
    padding-top: 3%;
    margin-left: 18%;
}

#boton-login {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
    margin-left: 52%;
}

p {
    text-align: center;
}

small {
    color: rgb(24, 153, 155);
}

.form-group {
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-control {
    margin-bottom: 2%;
    margin-left: 18%;
    margin-right: 20%;
    width: 100%;
}

.form-text {
    align-items: center;
    margin-top: 2%;
    margin-left: 25%;
}

label {
    margin-left: 35%;
    margin-bottom: 2%;
    font-size: 18px;
    font-weight: 500;
}

.col-8 {
    width: 75%;
}

#comentario {
    padding-top: 12px;
    margin-left: 18%;
}
