<div class="contenedora">
    <div id="principles">
      <h2>
        <span class="span4"> {{titulo}} </span>
      </h2>
    </div>
    <!-- <h1> {{titulo}} </h1> -->
    <div class="linea"></div>
    <form class="formulario" autocomplete="off" [formGroup]="forma">
        <div>
            <div class="form-group row" id="correo-electronico">
                <label class="col-form-label"> Correo Electronico </label>
                <div class="col-8">
                    <input class="form-control" type="email" placeholder="Correo Electronico" formControlName="email" [class.is-invalid]="correoNoValido" [(ngModel)]="usuario.email">
                    <small *ngIf="correoNoValido" class="text-danger"> Ingrese el Correo Electronico correctamente </small>
                    <div class="form-text" id="comentario">Nunca compartiremos su correo electrónico con nadie más.</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label"> Ingrese el Password </label>
                <div class="col-8">
                    <input class="form-control" type="password" placeholder="Password" formControlName="password" [class.is-invalid]="passwordNoValido" [(ngModel)]="usuario.password">
                    <small *ngIf="passwordNoValido" class="text-danger"> Ingrese el Passwor correctamente </small>
                </div>
            </div>
            <div class="form-group row">
                <div class="input-group col-8">
                    <button type="submit" class="btn btn-outline-primary btn-block" id="boton-login" (click)="login()">
                    Ingresar
                </button>
                </div>
            </div>
        </div>
    </form>
</div>
<p> ¿Todavia no tenes cuenta? <small class="btn btn-light" [routerLink]="['/registro']"> Registrarse </small></p>
