<form>
  <div class="container">
  
      <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">dato</th>
              <th scope="col">dato</th>
              <th scope="col">Operaciones</th>
              
            </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">1</th>
                <td>dato</td>
                <td>dato</td>
              <td>
                <button type="button" class="btn btn-outline-primary">Editar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
  
        <button type="button" class="btn btn-outline-primary">Nuevo</button>
  </div>
  </form>
